pom.xml

# Maven build
target/

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# Secrets
application-secret.properties
*.secret.properties

# OS
.DS_Store
Thumbs.db
*.ps1
*.cmd

